@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Wirtualna biblioteka</h1>
        <h3>Konto testowe</h3>
        <p>Login: a@b.pl</p>
        <p>  Hasło: Test!1</p>
        <p>Znajdujesz się na stronie wirutalnej biblioteki.</p>
        <p>Zaloguj się aby uzyskać dostęp do wszystkich funkcjonalności serwisu</p>
    </div>
